# Node modules everywhere
**/node_modules/

# Build & cache
**/build/
**/.docusaurus/
**/.expo/
**/.next/
**/.cache/
**/.gradle/
**/Pods/
**/ios/build/
**/android/app/build/

# Misc
*.log
*.lock
.DS_Store
.env
*.keystore
*.jks
